---
title: 页面未找到
permalink: /404.html
showHeader: true
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="not-found">
  <h1>404</h1>
  <p>Coupure Électrique</p>
</div>
{% endblock %}
