---
title: 文章列表
permalink: /posts/
---

{% extends "layouts/base.njk" %}

{% block content %}
<h1>{{ title }}</h1>
<ul class="post-list">
  {% for post in collections.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <time datetime="{{ post.date | dateISO }}">{{ post.date | dateFormat }}</time>
  </li>
  {% endfor %}
</ul>
{% endblock %}
