---
pagination:
  data: collections.tagPages
  size: 1
  alias: pageData
permalink: /gene/{{ pageData.tag | tagSlug }}/{% if pageData.page > 0 %}{{ pageData.page + 1 }}/{% endif %}
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="gene-header">
  <h1 class="gene-title">{{ pageData.tag }}</h1>
  <p class="gene-count t-meta">{{ pageData.total }} 篇文章</p>
</div>

<ul class="post-list">
  {% for post in pageData.posts %}
  <li>
    <span class="post-date">{{ post.date | dateFormat("yyyy-MM-dd") }}</span>
    <a href="{{ post.url }}" class="post-title">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>

{% set pgCurrent = pageData.page %}
{% set pgTotal = pageData.totalPages %}
{% set pgBaseUrl = "/gene/" + (pageData.tag | tagSlug) + "/" %}
{% include "partials/pagination.njk" %}
{% endblock %}
