<footer class="site-footer">
  <div class="container">
    <p class="t-meta">&copy; {{ siteConfig.footer.copyright }} {{ "now" | dateFormat("yyyy") }}</p>
    <p class="t-meta">{{ siteConfig.footer.poweredBy }}</p>
  </div>
</footer>
