<header class="site-header">
  <div class="container">
    <a href="/" class="site-title">{{ siteConfig.title }}</a>
    <nav>
      <a href="/">Home</a>
      <a href="/posts/">Posts</a>
      <a href="/gene/">Gene</a>
    </nav>
  </div>
</header>
