<header class="site-header">
  <div class="container">
    <a href="/" class="site-title">
      <span class="site-title-text">{{ writingConfig.title }}</span>
    </a>
    <nav>
      <a href="/writing/">
        <span class="nav-index">01</span>
        <span>文章</span>
      </a>
      <a href="/writing/gene/">
        <span class="nav-index">02</span>
        <span>分类</span>
      </a>
    </nav>
  </div>
</header>
